class Instruqt < Formula
    desc "Instruqt CLI"
    homepage "https://instruqt.com"
    version "{{version}}"

    if OS.mac? && Hardware::CPU.intel?
        url "https://github.com/instruqt/cli/releases/download/{{version}}/instruqt-darwin-amd64.zip"
        sha256 "{{darwin_amd64_sha256}}"
    end

    if OS.mac? && Hardware::CPU.arm?
        url "https://github.com/instruqt/cli/releases/download/{{version}}/instruqt-darwin-arm64.zip"
        sha256 "{{darwin_arm64_sha256}}"
    end

    if OS.linux? && Hardware::CPU.intel?
        url "https://github.com/instruqt/cli/releases/download/{{version}}/instruqt-linux.zip"
        sha256 "{{linux_amd64_sha256}}"
    end

    def install
        bin.install "instruqt"
    end
end
